* {
  box-sizing: border-box;
}

body {
  background-color: #E3E3E3;
  /* background: url("../images/abstract grey background/640x426.jpg"); */
  background: url("../images/abstract grey background/extended 640x852.jpg");
  font-family: 'Montserrat';
  /* padding: 20px 20px 0; */
}

@media only screen and (min-width: 641px) and (max-width: 1280px) {
  body {
    /* background-image: url("../images/abstract grey background/1280x853.jpg"); */
    background-image: url("../images/abstract grey background/extended 1280x1706.jpg");
  }
}


@media only screen and (min-width: 1281px) {
  body {
    /* background-image: url("../images/abstract grey background/2500x1667.jpg"); */
    background-image: url("../images/abstract grey background/extended 2500x3334.jpg");
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: #E3E3E3;
}

h3 {
  font-weight: 700;
  font-size: 1.8rem;
}

h4 {
  font-weight: 600;
  font-size: 1rem;
  color: #E3E3E3;
}

@media only screen and (min-width: 460px) {
  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 2.37rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
