footer {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

@media only screen and (min-width: 658px) {
  footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#footer-name-container {
  border-radius: 100px;
  background-image: url("../images/hero/heroalpha.png");
  background-color: #C60021;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  margin-right: 10px;
  min-width: 238px;
  display: none;
}

@media only screen and (min-width: 658px) {
  #footer-name-container {
    display: inline-block;
    /* For browsers that don't support Flexbox */
    float: right;
  }
}

#contact-container {
  color: #F6F6F8;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
}

@media only screen and (min-width: 362px) {
  #contact-container {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 658px) {
  #contact-container p {
    margin-left: 15px;
    text-align: left;
  }
}


#contact-container address {
  color: #C60021;
  font-weight: 600;
  font-style: italic;
  border: 2px solid #C60021;
  padding: 5px 10px;
  border-radius: 20px;
  background: url("../images/abstract grey background/640x426opacity60.jpg");
  margin-top: 5px;
}
