nav {
  display: block;
  text-align: center;
  width: 100%;
}

#nav-bar {
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  height: auto;
  position: fixed;
  top: 5px;
  text-align: center;
  padding: 5px 0;
  z-index: 1;
}

@supports (display: flex) {
  #nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#nav-button {
  background-image: url("../images/miscellaneous/navigation_icon.svg");
  background-color: rgb(198, 0, 33);
  background-color: rgba(198, 0, 33, 0.7);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 4px solid black;
  border-radius: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-left: 10px;
  /* For browsers who do not support flexbox */
  float: left;
}

#nav-button:active,
#nav-button:hover {
  background-color: #C60021;
}

#name-container {
  border-radius: 100px;
  background-image: url("../images/hero/heroalpha.png");
  background-color: #C60021;
  display: inline-block;
  padding: 5px 20px;
  text-align: center;
  margin-right: 10px;
  -webkit-transition: -webkit-transform 1s 0.5s;
  transition: -webkit-transform 1s 0.5s;
  transition: transform 1s 0.5s;
  transition: transform 1s 0.5s, -webkit-transform 1s 0.5s;
  min-width: 238px;
  /* For browsers who do not support flexbox */
  float: right;
}

@media only screen and (min-width: 578px) {
  #name-container {
    display: none;
  }
}

#name-container.showoff {
  -webkit-transform: translate(-15%, 300%) scale(1.4);
          transform: translate(-15%, 300%) scale(1.4);
}

#name-container h4 {
  font-style: italic;
}


/* NAVIGATION LIST */

#nav-list {
  font-size: 1.5rem;
  font-weight: 700;
  height: auto;
  width: 100%;
  max-width: 1300px;
  position: fixed;
  top: 35px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

@supports (display: flex) {
  #nav-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 578px) {
  #nav-list {
    position: static;
  }
}

#nav-list a {
  background: url("../images/abstract grey background/640x426opacity40.jpg");
  border: 3px solid black;
  border-radius: 100px;
  height: 100%;
  margin: 5px auto 0;
  max-width: 281px;
  min-width: 35%;
  width: 100%;
  display: inline-block;
}

@supports (display: flex) {
  @media only screen and (min-width: 578px) {
    #nav-list a {
      margin-left: 1px;
      margin-right: 1px
    }
  }
}

@media only screen and (min-width: 1160px) {
  #nav-list a {
    min-width: 24.8%;
    /* min-width: calc(25% - 2px); */
  }
}

/* #nav-list a:nth-child(1) {
  transition: opacity 0.25s;
}
#nav-list a:nth-child(2) {
  transition: opacity 0.25s 0.25s;
}
#nav-list a:nth-child(3) {
  transition: opacity 0.25s 0.5s;
}
#nav-list a:nth-child(4) {
  transition: opacity 0.25s 0.75s;
}

#nav-list a.transparent {
  opacity: 0;
  transition: opacity 0s;
} */

#nav-list a:hover,
#nav-list a:active {
  border-color: #C60021;
  color: #C60021;
}

#nav-list li {
  padding: 0.5rem 0;
  height: 100%;
}

@supports (display: flex) {
  #nav-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#nav-list a:hover span,
#nav-list a:active span {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#nav-list a,
#nav-list a:hover,
#nav-list li span,
#nav-list li:hover span {
  -webkit-transition-property: border-color, color, -webkit-transform;
  transition-property: border-color, color, -webkit-transform;
  transition-property: transform, border-color, color;
  transition-property: transform, border-color, color, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media only screen and (max-width: 577px) {
  #nav-list.hide {
    display: none;
  }
}

@media only screen and (min-width: 578px) {
  #nav-button {
    display: none;
  }
}
