nav {
  display: block;
  text-align: center;
  width: 100%;
  /* For testing */
  border: 5px solid green;
}

nav ul {
  font-size: 2rem;
  font-weight: 700;
  height: 100%;
  margin: auto;
  max-width: 1300px;

  /* For testing */
  border: 1px solid red;/
}

@supports (display: flex) {
  nav ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

nav a {
  background: url("../images/abstract grey background/640x426opacity40.jpg");
  border: 3px solid black;
  border-radius: 100px;
  height: 100%;
  margin: 5px auto 0;
  max-width: 281px;
  min-width: 35%;
  width: 100%;
  display: inline-block;
}

@supports (display: flex) {
  @media only screen and (min-width: 574px) {
    nav a {
      margin-left: 1px;
      margin-right: 1px
    }
  }
}

@media only screen and (min-width: 1160px) {
  nav a {
    min-width: 24.8%;
    /* min-width: calc(25% - 2px); */
  }
}

nav a:hover,
nav a:active {
  border-color: #C60021;
  color: #C60021;
}

nav li {
  padding: 0.5rem 0;
  height: 100%;
}

@supports (display: flex) {
  nav li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

nav a:hover span,
nav a:active span {
  transform: scale(1.1);
}

nav a,
nav a:hover,
nav li span,
nav li:hover span {
  transition-property: transform, border-color, color;
  transition-duration: 0.5s;
}
