nav {
  display: block;
  text-align: center;
  width: 100%;
}

#nav-bar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: auto;
  /* max-height: 65px; */
  position: fixed;
  top: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

#nav-button {
  background-image: url("../images/miscellaneous/navigation_icon.svg");
  background-color: rgba(198,0,33,0.7);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 4px solid black;
  border-radius: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-left: 10px;
}

#nav-button:active,
#nav-button:hover {
  background-color: #C60021;
}

#name-container {
  border-radius: 100px;
  background-image: url("../images/hero/heroalpha.png");
  background-color: #C60021;
  display: inline-block;
  padding: 5px 20px;
  text-align: center;
  margin-right: 10px;
  transition: transform 1s 0.5s;
  min-width: 238px;
}

@media only screen and (min-width: 578px) {
  #name-container {
    display: none;
  }
}

#name-container.showoff {
  transform: translate(-15%, 300%) scale(1.4);
}

#name-container h4 {
  font-style: italic;
}


/* NAVIGATION LIST */

#nav-list {
  font-size: 1.5rem;
  font-weight: 700;
  height: auto;
  width: 100%;
  max-width: 1300px;
  position: fixed;
  top: 35px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

@supports (display: flex) {
  #nav-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (min-width: 578px) {
  #nav-list {
    position: static;
  }
}

#nav-list a {
  background: url("../images/abstract grey background/640x426opacity40.jpg");
  border: 3px solid black;
  border-radius: 100px;
  height: 100%;
  margin: 5px auto 0;
  max-width: 281px;
  min-width: 35%;
  width: 100%;
  display: inline-block;
}

@supports (display: flex) {
  @media only screen and (min-width: 578px) {
    #nav-list a {
      margin-left: 1px;
      margin-right: 1px
    }
  }
}

@media only screen and (min-width: 1160px) {
  #nav-list a {
    min-width: 24.8%;
    /* min-width: calc(25% - 2px); */
  }
}

#nav-list a:hover,
#nav-list a:active {
  border-color: #C60021;
  color: #C60021;
}

#nav-list li {
  padding: 0.5rem 0;
  height: 100%;
}

@supports (display: flex) {
  #nav-list li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#nav-list a:hover span,
#nav-list a:active span {
  transform: scale(1.1);
}

#nav-list a,
#nav-list a:hover,
#nav-list li span,
#nav-list li:hover span {
  transition-property: transform, border-color, color;
  transition-duration: 0.5s;
}

@media only screen and (max-width: 577px) {
  #nav-list.hide {
    display: none;
  }
}

@media only screen and (min-width: 578px) {
  #nav-button {
    display: none;
  }
}
